@import "tailwindcss";
/* first start from nav mobile version no before that set normal like hieght of logo first 
    text should disappear in mobile add class to the text
*/

    body{
    @apply m-0 p-0 font-sans;
}

    nav{
    @apply flex flex-row  ;
    width: 100%;
    height: 64px;

}
    ul,li,h1.logoText,.mainLogo{
    @apply flex flex-row justify-center content-center  flex-wrap shrink-0;
    height: 64px;

}





    .mainLogo{
    @apply  justify-items-center content-center;
        margin-left:24px;
 

        }
    .otherLogo{
            @apply  justify-items-center content-center;
        margin-right:24px;
        margin-left: auto;
        }

    li .logo{  display: none;
        height: 64px;
    }
    .mainLogo .logo{
          height: 64px;
    }
    .logoText{   
             @apply self-center  text-gray-700 ;
            margin-left: 16px;
            font-size:32px;

        }
    h1.logoText{
       @apply font-bold text-gray-900 m-0 ;
     

    }
    h1.logoText+h1.logoText{
               @apply  text-gray-400 m-0;


    }
    


    @media screen and (width < 48rem) {
    
    nav{
        @apply justify-center overflow-hidden flex-nowrap;
    }
        li .logo,.logo{
         @apply flex flex-row justify-evenly shrink ml-7;
             
        }
    ul{ @apply flex flex-row justify-evenly flex-nowrap shrink;
         
    }
      h1.logoText ,.logoText{ 
        @apply hidden;

        }
    
    .mainLogo,.otherLogo{
        @apply m-0 justify-center self-center shrink;
    }
    }


    /* START BANNER  CSS 
        create .banner use it flexbox row so have to have another box to store text part 
        top 32 px margin
        left 24 px margin 
        worng it have bg so change to padding
        add bg color
    */

     .banner {
        @apply flex flex-row justify-start pt-8 pl-6 pb-8 gap-6 flex-nowrap ;
        background-color: rgb(199, 198, 191);

    }
    .banner img{
    max-width:100%;
    height: 100%; 
       
        
    }
    .banner div{
        @apply flex flex-col justify-center content-around m-6 mb-8 flex-wrap;
        height: auto;
        width: 40%;
       
    }
    .banner div h1{
        @apply  mb-8;
         font-size: 60px;
        font-weight: 800;
        
    }
    .banner div p{
        @apply  mb-8;
         font-size: 40px;
        font-weight: 600;
    }
    .banner div input{
            @apply  bg-gray-700 text-white self-center;
        width: 70%;
        height: 80px;
    }
    
    
    @media screen and (width < 48rem) {
     
    .banner{ @apply flex flex-col justify-start  p-0 m-0;

    }
    .banner div{
         @apply pt-0 m-0;
        width: 100%;
    }
    .banner div h1{

        @apply  mb-0 mt-8 ml-4;
    }
     .banner div p{
        @apply  mb-0 mt-8 ml-4;
         font-size: 40px;
        font-weight: 600;
    }
    .banner div input{
            @apply  mb-8 mt-6;

    }


    } 