@import "tailwindcss";
/* first start from nav mobile version no before that set normal like hieght of logo first 
    text should disappear in mobile add class to the text
*/

    body{
    @apply m-0 p-0 font-sans;
    text-align: left;
}
    a{
        @apply text-cyan-400;
    }

    nav{
    @apply flex flex-row  ;
    width: 100%;
    height: 64px;

}
    ul,li,h1.logoText,.mainLogo{
    @apply flex flex-row justify-center content-center  flex-wrap shrink-0;
    height: 64px;

}    h1{
         font-size: 50px;
        font-weight: 800;
        
    }
    h2{
        font-size: 1.75rem;
        font-weight: 500;
    }
    p{
         font-size: 16px;
        font-weight: 600;}





    .mainLogo{
    @apply  justify-items-center content-center;
        margin-left:24px;
 

        }
    .otherLogo{
            @apply  justify-items-center content-center;
        margin-right:24px;
        margin-left: auto;
        }

    li .logo{  display: none;
        height: 64px;
    }
    .mainLogo .logo{
          height: 64px;
    }
    .logoText{   
             @apply self-center  text-gray-700 ;
            margin-left: 16px;
            font-size:32px;

        }
    h1.logoText{
       @apply font-bold text-gray-900 m-0 ;
     

    }
    h1.logoText+h1.logoText{
               @apply  text-gray-400 m-0;


    }
    


    @media screen and (width < 48rem) {
    
    nav{
        @apply justify-center overflow-hidden flex-nowrap;
    }
        li .logo,.logo{
         @apply flex flex-row justify-evenly shrink ml-7;
             
        }
    ul{ @apply flex flex-row justify-evenly flex-nowrap shrink;
         
    }
      h1.logoText ,.logoText{ 
        @apply hidden;

        }
    
    .mainLogo,.otherLogo{
        @apply m-0 justify-center self-center shrink;
    }
    }


    /* START BANNER  CSS 
        create .banner use it flexbox row so have to have another box to store text part 
        top 32 px margin
        left 24 px margin 
        worng it have bg so change to padding
        add bg color
    */

     .banner {
        @apply flex flex-row justify-start pt-8 pl-6 pb-8 gap-6 flex-nowrap ;
        background-color: rgb(199, 198, 191);

    }
    .banner img{
    max-width:100%;
    height: 100%; 
       
        
    }
    .banner div{
        @apply flex flex-col justify-center content-around m-6 mb-8 flex-wrap;
        height: auto;
        width: 40%;
       
    }
    .banner div h1{
        @apply  mb-8;
         font-size: 60px;
        font-weight: 800;
        
    }
    .banner div p{
        @apply  mb-8;
         font-size: 40px;
        font-weight: 600;
    }
    .banner div input{
            @apply  bg-gray-700 text-white self-center p-2;
            font-size:100%;
        width: 70%;
    }
    
    
    @media screen and (width < 48rem) {
     
    .banner{ @apply flex flex-col justify-start  p-0 m-0;

    }
    .banner div{
         @apply pt-0 m-0;
        width: 100%;
    }
    .banner div h1{

        @apply  mb-0 mt-8 ml-4;
    }
     .banner div p{
        @apply  mb-0 mt-8 ml-4;
         font-size: 40px;
        font-weight: 600;
    }
    .banner div input{
            @apply  mb-8 mt-6;

    }


    } 






    /* it started to repeated pic on left and then text on right */

    .infoMain{
        @apply flex flex-row m-0 p-0;
        width: 100%;
    }



    .infoMain div {
        @apply  flex flex-col pt-8 pl-6;
        width:60%;
    }
    span.left h1{
        
        @apply w-full flex flex-col justify-start pt-8;
    }
    span.left h1{
        
        @apply w-full flex flex-col justify-start pt-4;
    }
    
   span.leftF{
        @apply  justify-end pb-4;
        margin-top: auto;
    }
    



    div.right{
        @apply flex flex-col justify-stretch;
    width: 40%;
    height: auto;
    }
    div.sub-right{
        @apply flex flex-row p-4 ;
        width: 100%;
        height: auto;
    }
    div.sub-right img{
        width: 35%;
        height: auto;
        
    }
    
    div.sub-right span{
        @apply pl-2;
        width: 65%;
    }
    img.mobile{
        @apply hidden;
    }
    



    /* mobile infoMain */
 @media screen and (width < 48rem) {
    img.mobile{
        @apply block;
    }
    img.pc{
        @apply hidden;
    }

    div.infoMain{
        @apply flex-col;
    }


/* LEFT */

 .infoMain div.left {
        @apply  hidden;
        width:100%;
    }
  

/* RIGHT */


    div.right{
        @apply flex flex-col justify-stretch ;
    width: 100%;
    height: auto;
    }


    div.sub-right{
        @apply flex flex-col p-4   ;
        width: 100%;
        height: auto;
    }
    div.sub-right img{
        
        width: 100%;
        height: auto;
        
    }
    
    div.sub-right span{
        @apply flex flex-col pl-2 ;
        width: 100%;
        height: auto;
    }
 }






 /* Start Learning */
    div.HstartLerning{
        padding-top:32px ;
           text-align: center;
    background-color: rgb(199, 198, 191);       
    }

    div.startLerning{
        @apply   flex flex-row justify-evenly flex-wrap shrink ;
    text-align: left;
        background-color: rgb(199, 198, 191);
        width: 100%;
    padding: 32px 72px;
    height:auto;
    }
    div.couseDetail{
        @apply mr-8 mb-8 flex flex-col justify-evenly flex-wrap shrink ;
   background-color: rgb(231, 230, 218);
    height:auto;
    width: 30%;
    }
    div.couseDetail img{
        height:auto;
    }
    div.couseDetail h2{
        margin: 8px 16px;
    }
    
    div.couseDetail  p{
        margin: 8px 16px;
    }

    /* Mobile Course */
     @media screen and (width < 48rem) {
div.startLerning{
        @apply   flex flex-col content-stretch w-full;
    }
     div.couseDetail h2{
        width: 100%;
     }
        div.couseDetail {
            width: 100%;
            background-color: rgb(121, 119, 104);
        }
        div.couseDetail p,img{
        @apply hidden;
        }
     }





     /* same as info */
     /* it started to repeated pic on left and then text on right */


div.HThesis{
        padding-top:32px ;
         padding-bottom:32px ;
           text-align: center;
    background-color: rgb(199, 198, 191);       
    }

    .Thesis{
        @apply flex flex-row m-0 pl-6 pb-8;
        width: 100%;
    }



    .Thesis div {
        @apply  flex flex-col pt-8 pl-6 ;
        width:60%;
    }
   div.Thesis span.left h2{
        
        @apply w-full flex flex-row justify-start pt-6;
    }
     div.Thesis span.left p{
         text-align: left;
        @apply w-full flex flex-row justify-start pt-2;
    }
    



    div.Thesis div.right{
        @apply flex flex-col justify-stretch content-start;
    width: 40%;
    height: auto;
    }
   div.Thesis  div.sub-right{
        @apply flex flex-row p-4 justify-start;
        width: 100%;
        height: auto;
    }
    div.Thesis div.sub-right img{
        width: 35%;
        height: auto;
        
    }
    
   div.Thesis  div.sub-right span{
        @apply pl-2;
        text-align: left;
        width: 65%;
    }
   

    /* Mobile Course */
    .Thesis div,div video{
        @apply w-full m-0 p-0;
 
    }
     @media screen and (width < 48rem) {
        div.HThesis{
        padding-top:32px ;
         padding-bottom:16px ;}
        div.Thesis span{@apply hidden;

        }
        div.Thesis div.right{
            @apply hidden;
        }
     }

     /* end */
     .end{@apply flex flex-row justify-start ;width: 100%;}
    .end1{@apply flex flex-row justify-start; width: 100%}
         .end2{@apply flex flex-row justify-end; width: 100%}

    @media screen and (width < 48rem) {
        .end1{@apply flex flex-row justify-center p-4; width: 100%}
        .end2{@apply hidden;}
    }